<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<% if @notes.count == 0 %>
  <h3> There are no notes to display.</h3>
<% else %>
  <table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Book</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><div class = "content-td"><%= note.title %></div></td>
        <td><div class = "content-td"><%= note.content %></div></td>
        <td>
          <%= link_to note.book, book_path(note.book) %>
        </td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Export', export_note_path(note)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Note', new_note_path %>
<%= link_to 'Export All', export_all_notes_path %>
